$color-grey: #f5f5f5;
$color-dark-grey: #4d4646;
$color-black: #000;
$color-white: #ffffff;
$margin-right: 1rem;
// $card-color: linear-gradient(to bottom right, #B3B3B3, #404040, #3f3f3f, #2c2828, #404040, #181818);

*,
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    line-height: 1.7;
    background-color: $color-grey;
    padding: 3rem;
    box-sizing: border-box;
}

.slideshow{
    max-width: 100%;
    position: relative;
    margin-bottom: 2rem;

    &::after {
        content: "";
        display: table;
        clear: both;
      }
}
.mySlides{
    // display: none;
    float: left;
    width: 9%;
    height: 20vh;
    margin-bottom: 1rem;
    margin-right: $margin-right;
    border-radius: .5rem;
    background-color: $color-white;
    box-shadow: 0 4px 8px 0 rgba($color-black, 0.1);

    &:hover{
      box-shadow: 0 10px 20px 0 rgba($color-black, 0.2); 
    }
}

.card{
    padding: 0 1rem;
    text-align: center;
  
    a{
      text-decoration: none;
      color: $color-dark-grey;

    &:link,:visited{
      padding: 6rem 2rem;
      font-size: 160%;
    }

    &:hover{
      text-shadow: 2px 2px 5px #fff;
      color: #2196f3;
    }
    }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  background-color: $color-dark-grey;
  color: white;
  text-shadow: 2px 2px 5px #2196f3;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;

  &:hover{
    background-color: $color-black;
    color: #2196f3;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
}

.row{
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 1800px) {
  .mySlides {
    width: 9%; } }

@media screen and (max-width: 1200px) {
  .mySlides {
    width: 15%; } }

@media screen and (max-width: 1050px) {
  .mySlides {
    width: 23%; } }

@media screen and (max-width: 900px) {
  .mySlides {
    width: 30%; } }

@media screen and (max-width: 850px) {
  .mySlides {
    width: 45%; } }

@media screen and (max-width: 600px) {
  .mySlides {
    width: 100%; } }

  .filterRow{
    width: 100%;
    height: 7rem;
    background-color: $color-white;
    box-shadow: 0 4px 8px 0 rgba($color-black, 0.2);
    padding: 2rem 3rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
  }

  label{
  margin-left: 1rem;
  }

.searchbox{
  float: right;
  padding: 6px;
  border: 3px solid $color-dark-grey;
  margin-top: -2px;
  margin-right: 16px;
  font-size: 12px;
  }
  
  .btn{
    text-decoration: none;
    background-color: #2196f3;
    border: none;
    color: white;
    padding: .5rem 1.5rem;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }