*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 6rem 11rem;
  height: 100vh;
  font-family: "roboto", sans-serif;
  background-image: url(../images/truck3coloured.jpg);
  background-size: cover;
  background-position: bottom;
  box-sizing: border-box; }

.main {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3rem 5rem 0 black;
  border-radius: .8rem;
  width: 100%;
  height: 80vh;
  margin: auto;
  font-family: 'Roboto'; }
  .main__border {
    margin-left: 3%;
    border: 3px solid #cccccc;
    border-radius: 50%;
    width: 9rem;
    height: 9rem; }
  .main__logo {
    height: 10%;
    width: 7rem;
    border-radius: 50%;
    margin-left: .7rem;
    margin-top: .7rem; }

.row {
  display: inline-block;
  width: 100%; }

.col {
  position: relative; }
  .col--1 {
    width: 70%;
    margin: auto;
    margin-top: -6rem;
    float: left; }
  .col--2 {
    width: 30%;
    float: right;
    height: inherit;
    margin-top: -3rem; }

.illustration {
  width: 100%;
  height: 70vh; }

.main-text {
  font-size: 2.7rem;
  margin-top: -4rem;
  background-image: linear-gradient(to right, #193658, #514a77, black, black);
  -webkit-background-clip: text;
  color: transparent; }

.sub-text {
  font-size: 2rem;
  margin: 1rem 0 2rem 0; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  display: block;
  border: none;
  outline: none;
  transition: all .3s; }
  .form__input:focus {
    border-bottom: 3px solid #186818; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered; }

.form__group {
  background-color: none;
  display: block;
  margin-bottom: 1.5rem;
  height: 4rem; }
  .form__group:not(:first-child) {
    margin-top: 3rem; }

.form__label {
  display: block;
  font-size: 1.5rem;
  color: #464545;
  margin-left: 1.5rem;
  margin-top: .3rem;
  transition: all .4s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.container2 {
  text-align: center; }

.btn {
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  margin-top: 1rem;
  position: relative; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s; }
  .btn:active {
    transform: translateY(-1px);
    outline: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--login {
    background-color: white;
    color: black; }
    .btn--login::after {
      background-color: white; }
  .btn--fpsw {
    display: block;
    margin-top: 1rem;
    font-size: 1.3rem; }
    .btn--fpsw a {
      text-decoration: none;
      color: #2b2828; }
      .btn--fpsw a:hover {
        color: #6953e4; }

.fpsw__contents {
  display: inline-block;
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: -4rem; }

.fpsw__img {
  width: 20rem;
  height: auto; }

.fpsw__text--main {
  background-image: linear-gradient(to right, #193658, #514a77, black);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2.5rem;
  margin-top: .4rem; }

.fpsw__text--sub {
  font-size: 1.8rem;
  margin-top: .5rem; }

.fpsw__form__group {
  background-color: none;
  width: 70%;
  margin: auto; }

.fpsw__form__label {
  text-align: left; }

.fpsw__btn {
  margin: auto;
  outline: none;
  margin-top: 3rem;
  background-color: white;
  color: black; }
  .fpsw__btn::after {
    background-color: white; }

.popup {
  position: fixed;
  z-index: 100;
  background-image: url(../images/truck3coloured.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup__content {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #514a77;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s; }
  .popup__close:hover {
    color: black; }

/**MEDIA QUERY**/
@media screen and (max-width: 800px) {
  body {
    padding: 10%; }
    body .col--1 {
      display: none; }
    body .col--2 {
      margin-top: 4rem;
      float: none;
      margin-left: auto;
      margin-right: auto;
      clear: both;
      width: 80%; }
    body h
.main__logo :not(.fpsw__logo) {
      margin: auto; }
  .fpsw__contents {
    width: 100%;
    margin-left: auto; }
  .main__border {
    border: none; } }
